* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #000, #000, #075a05, #005a05,#002902, #000);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
  font-family: Arial, Helvetica, sans-serif;
}
/*
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
} */
@keyframes change
{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 100px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;/* 1rem will remove name shown area*/
}

.cha-name
{
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;
    background: rgba(0,0,0,0.8);
    transform: translateY(0);
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 400px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
}

/*


*/

/*-------------------------------------------------------------------------------*/
/* For Footer and Other*/
.FooterSp
{
    width: 100%;
    padding: 30px 100px;
}
footer
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .containerFooter
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .containerFooter .sec
{
    margin-right: 30px;
}
footer .containerFooter .sec.aboutus
{
    width: 40%;
}
footer .containerFooter h2
{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .containerFooter h2:before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer p
{
    color: #999;
}
.sci
{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover
{
    background: #f00;
}
.sci li a .fa
{
    color: #fff;
    font-size: 20px;
}
.quickLinks
{
    position: relative;
    width: 25%;
}
.quickLinks ul li
{
    list-style: none;
}
.quickLinks ul li a
{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover
{
    color: #fff;
}
.contact
{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info
{
    position: relative;
}
.contact .info li
{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span
{
    color: #999;
}
.contact .info li a
{
    color: #999;
    text-decoration: none;
}
.contact .info li a:hover
{
    color: #fff;
}
.copyrightText
{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
@media (max-width: 991px)
{
    footer
    {
        padding: 40px;
    }
    footer .container
    {
        flex-direction: column;
    }
    footer .container .sec
    {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .containerFooter .sec.aboutus, 
    .quickLinks,
    .contact
    {
        width: 100%;
    }
    .copyrightText
    {
        padding: 8px 40px;
    }
}
